{% extends 'base.html.twig' %}

{% block title %}Prestataires index{% endblock %}

{% block body %}
    <h1>Prestataires index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Matricule</th>
                <th>Denomination</th>
                <th>Adresse</th>
                <th>Contacte</th>
                <th>Email</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prestataire in prestataires %}
            <tr>
                <td>{{ prestataire.id }}</td>
                <td>{{ prestataire.matricule }}</td>
                <td>{{ prestataire.denomination }}</td>
                <td>{{ prestataire.adresse }}</td>
                <td>{{ prestataire.contacte }}</td>
                <td>{{ prestataire.email }}</td>
                <td>{{ prestataire.status }}</td>
                <td>
                    <a href="{{ path('prestataires_show', {'id': prestataire.id}) }}">show</a>
                    <a href="{{ path('prestataires_edit', {'id': prestataire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prestataires_new') }}">Create new</a>
{% endblock %}
