<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {# <link rel="stylesheet" type="text/css" href="pdf.css"> #}
            {# <link rel="stylesheet" type="text/css" href="{{ asset('pdf.css') }}"> #}
        {% endblock %}

        <style>
            *{
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }

            #header{
                background-color: #c00000;
                padding: 10px;
            }


            #header h2{
                color:#fff;
            }

            #header p{
                color:#fff;
                margin-top: 5px;
            }

            #content{
                width:90%;
                margin: auto;
            }

            #intro{
                margin-top: 10px;
                margin-bottom: 40px;
                font-size: 20px;
                text-align: justify;
            }

            #legal{
                font-size: 16px;
                color:#c00000;
                margin-bottom: 10px;
            }

            table{
                border-collapse: collapse;
                width: 100%;
                margin-bottom: 5px;
            }

            table tr,th,td{
                height:30px;
                border:solid gray 1px;
                text-align: center;
            }

            table td{

            }

            table th{
                background-color: #dbdbdb;
            }

            #nb{
                font-size: 12px;
                text-align: right;
            }

            #articles{
                margin-top: 40px;
                margin-bottom: 20px;
            }

            #articles p{
                margin-top: 20px;
                color:#333;
            }

            #direc{
                text-align: right;
            }
        </style>
    </head>
    <body>

{% block body %}

<div id="header">
    <h2>
        CONTRAT DE PARTENARIAT <br>
    </h2>
    
    <p>Conclut à  Dakar le : {{date}} </p>
</div>

<br>

<div id="content">
    <div id="intro">
        <p>
            Par cette present document nous le groupe Wari attestons lier une relation de partaneriat avec l'entreprise <strong> {{denome}} </strong> que voici compte tenu
            de nos centre d'interet convergeant dans le cadre du transfert d'argent. <br>
            a cette effet nous somme desormé en etroite collaboration et regis par des regles de vie dont la transgression ne manquera pas de faire l'objet de sanction adecquoites.
        </p>
    </div>
    
    <h3 id="legal"> Information du représentant légal </h3>

    <table>
        <tr>
            <th> Nom </th>
            <th> Prenom </th>
            <th> Email </th>
            <th> Adresse </th>
            <th> Cni </th>
            <th> Telephone </th>
        </tr>
        <tr>
            <td> {{data.nom}}</td>
            <td> {{data.prenom}}</td>
            <td> {{data.emailUser}}</td>
            <td> {{data.adresseUser}}</td>
            <td> {{data.cni}}</td>
            <td> {{data.telephoneUser}}</td>
        </tr>
    </table>

    <p id="nb">
        <STRONG> NB :</STRONG> Conformément a ce qui a éte dis plus haut,des regles de vie on éte etablie pour assurer une parfaite cohaison nous permettant
        ainsi de plus tiré profit de notre collaboration
    </p>
    
    <div id="articles">
        <p>
            <strong> Article 1 : </strong>
            Tout partenaire prestataire ,en vu de garder un contacte permanent a amener a disposer d'un representant legal a 
            qui nous communiquerons tout infos vous concernant
        </p>
        
        <p> 
            <strong> Article 2 : </strong>
            Tout partenaire depuis son adhesion au system beificie aussi tot d'un compte qui sera bloqué en cas d'innactivité
            constaté sur un duréé moyenne de 3ans
        </p>
        
        <p> 
            <strong> Article 3 : </strong>
            Des reunion aurons lieu decmenbre en vu de quoi nous aurrons la possibilité de rediscuter nos articles
            de par leur respect, leur suivis, leur interet, et ou leur retarit du reglement
        </p>

    </div>
    
    <hr> <br>

    <p id="direc"> La direction </p>

</div>
{% endblock %}
</body>
</html>
